<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649314353278-kp23i0b6o804fmdend9tnvt2c40fl02j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649314353278-kp23i0b6o804fmdend9tnvt2c40fl02j</string>
	<key>API_KEY</key>
	<string>AIzaSyCDlaflOC8x-ifMzZXDZhLBcNyM3D__Sto</string>
	<key>GCM_SENDER_ID</key>
	<string>649314353278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseRecord</string>
	<key>PROJECT_ID</key>
	<string>expense-record-211b4</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-record-211b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649314353278:ios:f5535b056b683eeb93d82f</string>
</dict>
</plist>